<%= link_to '수정 취소하고 뒤로가기', posts_path, class: 'btn btn-primary btn-sm' %>
<%= link_to '수정 취소하고 원본 보기', @post, class: 'btn btn-info btn-sm' %>
<hr>
<h1>글 수정</h1>
<hr>
<%= render 'form', post: @post %>


