<%= link_to '수정 취소하고 뒤로가기', posts_path, class: 'btn btn-danger btn-md' %>
<%= link_to '수정 취소하고 원본 보기', @post, class: 'btn btn-warning btn-md' %>
<hr>
<h1>글 수정</h1>
<hr>
<%= render 'form', post: @post %>


