<p id="notice"><%= notice %></p>

<ul class="list-group">
  <% @posts.each do |post| %>
  <li class="list-group-item">
    <%= link_to post.title, post %>
    <div>
      <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    </div>
  </li>
  <% end %>
</ul>