<a href="https://www.hanvando.ca" style="text-decoration: none; color: black"><h2>HANVANDO</h2></a>

<p>안녕하세요, <%= @resource.email %>님.</p>

<p><a href="https://www.hanvando.ca" style="text-decoration: none; color: black">HANVANDO</a> 입니다.</p>

<p>비밀번호를 잊으셨으면, 변경하시는걸 추천드립니다.</p>

<p>밑에 링크를 통해서 비밀번호를 변경해주세요.</p>

<p><%= link_to '내 비밀번호 변경', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><a href="https://www.hanvando.ca" style="text-decoration: none; color: black">HANVANDO</a> 를 이용해주셔서 감사합니다.</p>

<p>HANVANDO를 이용해 주셔서 감사합니다.</p>

<hr>

<small>만일 비밀번호 변경을 신청하지 않으셨으면, 이 이메일을 무시하셔도 좋습니다.</small>
<small>hanvando.no-reply@gmali.com 으로 보내지는 메일은 읽히지 않습니다.</small>