<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        <h5>CATEGORIES</h5>
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
        <li><a href="#">Eat & Drink</a></li>
        <li><a href="#">Coffee & Tea</a></li>
        <li><a href="#">Activities</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Teach & Learn</a></li>
        <li><a href="#">Online Games</a></li>
        <li><a href="#">Gigs & Events</a></li>
    </ul>
  </li>
</ul>